* {
  box-sizing: border-box;
}
.container {
  max-width: 1352px;
  margin: 0 auto;
  text-decoration: none;
}
header {
  height: 70px;
  background-color: #ffffff;

  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header h1 {
  display: flex;
  text-align: left;
  font: normal normal 300 32px/37px Raleway;
  letter-spacing: 0px;
  color: #08a6e4;
  opacity: 1;
  margin-left: 135px;
}

.header .menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
}
.header .menu li {
  font-size: 11px;
  text-align: center;
  font: normal normal bold 11px/15px Open Sans;
  letter-spacing: 3.28px;
  color: #a5a5a5;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 28px 18px 22px;
  border-bottom: 4px solid transparent;
  font-weight: 700;
}

a {
  text-decoration: none;
}
.header a:visited {
  color: unset;
  background-color: transparent;
  text-decoration: none;
}
.header .menu li:hover {
  color: black;
  border-color: #08a6e4;
}

.seemore {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  margin-top: 130px;
  /* height: 386px; */
  height: 712px;
  text-align: center;
  flex-direction: column;
}
.seemore h2 {
  text-align: center;
  font: normal normal normal 49px/57px Raleway;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  margin-bottom: 20px;
}
.seemore p {
  text-align: center;
  font: normal normal normal 16px/22px Open Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.seemore .seemore__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #08a6e4 0% 0% no-repeat padding-box;
  box-shadow: 5px 10px 14px #07ace629;
  border-radius: 40px;
  opacity: 1;
  width: 440px;
  height: 67px;
  margin-top: 67px;
}
.seemore a {
  text-decoration: none;
  text-align: center;
  font: normal normal bold 16px/22px Open Sans;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
.seemore .banner {
  display: flex;
  width: fit-content;
  height: 594px;
  position: relative;
}

.stat {
  height: 531px;
  margin-top: 100px;
}
.stat__content h2 {
  text-align: center;
  font: normal normal normal 36px/42px Raleway;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.stat .stat__numbers {
  max-width: 800px;
  margin: 100px auto 120px;
  display: flex;
  justify-content: space-between;
}
.stat__numbers .fnbr {
  font-size: 24px;
  text-align: center;
  font: normal normal 800 20px/24px Raleway;
  letter-spacing: 5.96px;
  color: #000000;
  opacity: 1;
  /* margin-top: 176px; */
}
.stat__numbers p {
  text-align: center;
  font: normal normal normal 17px/20px Raleway;
  letter-spacing: 0px;
  color: #a5a5a5;
  opacity: 1;
  margin-top: 14px;
}
.stat .person {
  max-width: 160px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}
.stat .eye {
  max-width: 160px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}
.stat .catalog {
  max-width: 160px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.stat__content .person__img {
  position: absolute;
}
.stat__content .person__circle {
  background: #fb3b64 0% 0% no-repeat padding-box;
  opacity: 1;
  width: 63px;
  height: 63px;
  border: transparent;
  border-radius: 50%;
  position: relative;
}

.stat__content .eye__img {
  position: absolute;
  left: 30%;
  top: 25%;
}
.stat__content .eye__circle {
  background: #08a6e4 0% 0% no-repeat padding-box;
  opacity: 1;
  width: 63px;
  height: 63px;
  border: transparent;
  border-radius: 77%;
  position: relative;
}
.stat__content .catalog__img {
  position: absolute;
  top: 10%;
}
.stat__content .catalog__circle {
  background: #55dfb4 0% 0% no-repeat padding-box;
  opacity: 1;
  width: 63px;
  height: 63px;
  border: transparent;
  border-radius: 98%;
  position: relative;
}

.offer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #f7f7f7;
  padding: 106px 0;
}

.offer-inner {
  width: 100%;
  max-width: 1124px;
}

.contain {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #e8e9ed;
  border-radius: 5px;
  height: 370px;
  max-width: 1124px;
  display: flex;
  justify-content: space-between;
  padding: 38px 36px;
  margin-top: 36px;
}

.contain:first-child {
  margin-top: 0;
}

.contain.first {
  padding-right: 100px;
}

.contain.secound {
  padding-left: 100px;
  flex-direction: row-reverse;
}

.offer-content {
  align-self: center;
  width: 416px;
}

.offer-content h2 {
  text-align: left;
  font-family: Raleway;
  font-size: 36px;
  letter-spacing: 0px;
  color: #000000;
}

.offer-content p {
  font-family: Open Sans;
  color: #000000;
  margin: 36px 0 50px;
  line-height: 22px;
}

.offer-content .line {
  width: 328px;
  height: 4px;
}

.offer-content .first__line {
  background-color: #fb3b64;
}
.offer-content .secound__line {
  background-color: #08a6e4;
}
.offer-content .third__line {
  background-color: #55dfb4;
}

.img-container {
  position: relative;
}

.img-container img {
  position: relative;
  object-fit: contain;
}

.img-container.laptop {
  align-self: flex-end;
}

.img-container.laptop::before {
  display: block;
  content: '';
  width: 160px;
  height: 160px;
  right: -10px;
  top: -30px;
  border-radius: 40px;
  background-color: red;
  position: absolute;
  transform: rotate(45deg);
}

.img-container.laptop img {
  width: 306px;
  height: 172px;
}

.img-container.phone {
  align-self: flex-start;
}

.img-container.phone::before {
  display: block;
  content: '';
  width: 290px;
  height: 290px;
  border-radius: 50%;
  top: -10px;
  background-color: skyblue;
  position: absolute;
}

.img-container.phone img {
  height: 290px;
  
}

/*
.offer .first .phone::after {
  display: block;
  content: '';
  width: 180px;
  height: 180px;
  background-color: red;
  position: absolute;
  z-index: 8;
}
.offer .secound {
  width: 1124px;
  height: 370px;

  position: relative;
}
.offer .secound .phone {
  width: 426px;
  height: 328px;
  position: relative;
  bottom: 50%;
  top: 50%;
  position: absolute;
  left: 0%;
  top: 26px;
}

.offeer .third {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 623px;
  height: 370px;
  min-height: 370px;
}
.offer .third h2 {
  width: 553px;
  height: 72px;
}
.offer .trumpet {
  width: 440px;
  height: 370px;
  background-color: #55dfb4;
  margin-left: 60px;
}
*/

.pricing {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: nowrap;
  flex-direction: column;
}
.details {
  width: 372px;
  height: 461px;
  width: 372px;
  height: 461px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #fb3b64;
  border-radius: 18px;
  opacity: 1;
  margin: 59px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.pricing h2 {
  text-align: center;
  font: normal normal normal 36px/42px Raleway;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.pricing .pricing__content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pricing .price__type h3 {
  text-align: left;
  font: normal normal bold 20px/1px Raleway;
  letter-spacing: 0px;
  color: #13253b;
  opacity: 1;
  margin-bottom: 19px;
  height: 24px;
  margin-top: 34px;
}

.pricing ul {
  text-align: center;
  font: normal normal normal 14px/41px Open Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  /* height: 73px; */
}
.pricing .btn {
  background: #07ace6 0% 0% no-repeat padding-box;
  box-shadow: 5px 10px 14px #07ace629;
  border-radius: 23px;
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-align: left;
  font: normal normal bold 13px/41px Open Sans;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  position: relative;
  top: 8%;
}
.pricing .professional {
  width: 405px;
  height: 500px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 5px 10px 27px #07ace629;
  border: 1px solid #07ace6;
  border-radius: 18px;
  opacity: 1;
}
.pricing .premium {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #55dfb4;
  border-radius: 18px;
  opacity: 1;
}

.pricing .icon__yes::before {
  content: '';
  width: 11px;
  height: 11px;
  display: inline-block;
  margin-right: 10px;
  background-image: url(../images/Checkmark-1.svg);
}
.pricing .icon__no::before {
  background-image: url(../images/Close.svg);
}
.pricing .price__type p {
  text-align: left;
  font: normal normal 300 46px/2px Open Sans;
  letter-spacing: 0px;
  color: #fb3b64;
  opacity: 1;
  display: flex;
  justify-content: center;
  height: 50px;
}
.pricing .price__type p:last-child {
  text-align: left;
  font: normal normal bold 12px/1px Raleway;
  letter-spacing: 0px;
  color: #13253b;
  opacity: 1;
  font-size: 12px;
  margin-top: 5px;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact .contact__content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 896px;
  height: 376px;
  position: relative;
}
.contact .contact__content .contact__info {
}
.contact__content h2 {
  text-align: left;
  font: normal normal normal 49px/57px Raleway;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  width: 350px;
  height: 57px;
  font-size: 49px;
  margin-right: 114px;
  margin-bottom: 22px;
  position: relative;
}
.contact__content .contact__info .ctntxt {
  text-align: left;
  font: normal normal 600 16px/22px Open Sans;
  letter-spacing: 0px;
  color: #a5a5a5;
  opacity: 1;
  font-size: 16px;
  display: inline-block;
  margin-right: 22px;
}
.contact__content .contact__info p {
  margin-bottom: 42px;
}
.contact__content .contact__info {
  text-align: left;
  font: normal normal normal 16px/22px Open Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  font-size: 16px;
}

.contact__imput .contact__form {
  text-align: left;
  font: normal normal bold 11px/15px Open Sans;
  letter-spacing: 3.28px;
  color: #08a6e4;
  opacity: 1;
  font-size: 15px;
  width: 440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact__imput .checkmark {
  text-align: left;
  font: normal normal normal 12px/17px Open Sans;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
  font-size: 12px;
  margin-left: 33px;
  position: absolute;
}
.contact__info .ctntxt::before {
  content: '';
  width: 27px;
  height: 37px;
  display: inline-flex;
  margin-right: 10px;
  background: transparent url(../images/Mail\ Icon.svg) 0% 0% no-repeat padding-box;
  opacity: 1;
  justify-content: center;
  align-items: center;
}
.contact__info .icon__phone::before {
  background: transparent url(../images/Phone\ Icon.svg) 0% 0% no-repeat padding-box;
  opacity: 1;
}
input[type='text'] {
  border: none;
  border-bottom: 2px solid #95989a;
  margin-bottom: 38px;
  margin-top: 24px;
}
.contact .contact__content .btn___snd {
  background: #08a6e4 0% 0% no-repeat padding-box;
  box-shadow: 5px 10px 14px #07ace629;
  border-radius: 35px;
  color: white;
  opacity: 1;
  width: 226px;
  height: 57px;
  border: none;
  position: absolute;
  bottom: -25%;
  right: 0%;
}

.checkbox {
  display: inline-flex;
  cursor: pointer;
  position: relative;
}

.checkbox > span {
  color: #b2b2b2;
  padding: 0.5rem 0.25rem;
  width: 412px;
}

.checkbox > input {
  height: 22px;
  width: 22px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  outline: none;
  transition-duration: 0.3s;
  background: #ffffff 0% 0% no-repeat padding-box;
  cursor: pointer;
  opacity: 1;
  border: 1px solid #95989a;
  border-radius: 4px;
  opacity: 1;
  position: absolute;
  top: 10px;
}

.checkbox > input:checked + span::before {
  content: '\2713';
  display: block;
  text-align: center;
  background: transparent url(../images/Checkmark.png) 0% 0% no-repeat padding-box;
  opacity: 1;
  position: absolute;
  left: -25px;
  top: 13px;
  border: none;
}

/* .checkbox > input:active {
   border: 2px solid rgb(0, 0, 0);
} */
